apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
spec:
  selector:
    matchLabels:
      app: cmsweb-cicd-flask
  replicas: 1
  template:
    metadata:
      labels:
        app: cmsweb-cicd-flask
    spec:
      containers:
      - name: cmsweb-cicd-flask
        image: panos512/cmsweb-cicd-flask
        ports:
          - containerPort: 8113
---
apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  type: NodePort
  ports:
  - port: 8113
    targetPort: 8113
    name: http
  selector:
    app: cmsweb-cicd-flask
